@using AE_NASA_APOD.Models;
@using DataAccessModels.Models;
@model PaginatedList<AsteroidViewModel>

<style>
    .custom-text-color {
        color: greenyellow;
    }
</style>

<style>

    .table-header {
        background-color: #FFFFE0;
        color: black;
    }

    .cell {
        color: greenyellow;
    }

    .filter-section {
        color: white;
        margin-bottom: 20px;

    }

</style>

<h2 style="color: white;">ASTEROIDS</h2>

@*<div class="filter-section">
    <p>Asteroid Filter By</p>

    <form asp-controller="Asteroid" asp-action="Index" method="get">
        <input type="text" copyright="Copyright" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </form>
</div>*@

<form asp-controller="Asteroid" asp-action="ExportToXlsx" method="post">
    <input type="submit" value="Export to XLSX" class="btn btn-primary" />
</form>

</br>

<div class="table">
    <div class="header">
        <div class="header-cell table-header">Id</div>
        <div class="header-cell table-header">Name</div>        
        <div class="header-cell table-header"> NasaJplUrl</div>
        <div class="header-cell table-header">FirstApproachDate</div>
        <div class="header-cell table-header">AbsoluteMagnitude</div>
        <div class="header-cell table-header">MaximumDiameterKm</div>
        <div class="header-cell table-header">Hazardous</div>
        <div class="header-cell table-header">VelocityKmH</div>
       
    </div>

    @{
        foreach (var asteroid in this.Model)
        {
            <div class="row">
                <div class="cell custom-text-color">@asteroid.Id</div>
                <div class="cell custom-text-color">@asteroid.Name</div>
                <div class="cell custom-text-color">@asteroid.NasaJplUrl</div>
                <div class="cell custom-text-color">@asteroid.FirstApproachDate</div>
                <div class="cell custom-text-color">@asteroid.AbsoluteMagnitude</div>
                <div class="cell custom-text-color">@asteroid.MaximumDiameter</div>
                <div class="cell custom-text-color">@asteroid.Hazardous</div>
                <div class="cell custom-text-color">@asteroid.Velocity</div>


            </div>
        }
    }
</div>

@{
    string prevButtonState = this.Model.HasPrevPage ? "" : "disabled";
    string nextButtonState = this.Model.HasNextPage ? "" : "disabled";

}

<a asp-controller="Asteroid" asp-action="Index" asp-route-PageNumber="@(this.Model.PageNumber-1)" class="btn btn-link @prevButtonState">Prev</a>

@{
    int currentPageNumber = this.Model.PageNumber;

    for (int i = 1; i <= this.Model.TotalPages; i++)
    {
        if (i == currentPageNumber)
        {
            <span>@i</span>
        }
        else
        {
            <span><a asp-controller="Asteroid" asp-action="Index" asp-route-PageNumber="@i">@i</a></span>

        }
    }
}
<a asp-controller="Asteroid" asp-action="Index" asp-route-PageNumber="@(this.Model.PageNumber+1)" class="btn btn-link @nextButtonState">Next</a>

