@using AE_NASA_APOD.Models
@using DataAccessModels.Models
@using BusinessQueryParameters;
@model PaginatedList<Asteroid>

<style>
    .custom-text-color {
        color: greenyellow;
    }
</style>

<style>

    .table-header {
        background-color: #FFFFE0;
        color: black;
    }

    .cell {
        color: greenyellow;
    }

    .filter-section {
        color: white;
        margin-bottom: 20px;
</style>

<h2 style="color: white;">ASTEROIDS</h2>

<div class="filter-section">
    <p>Asteroid Filter By</p>

    <form asp-controller="Asteroid" asp-action="Index" method="get">
        <input type="text" copyright ="Copyright" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </form>
</div>


<div class="table">
    <div class="header">
        <div class="header-cell table-header">Copyright</div>
        <div class="header-cell table-header">Title</div>
        <div class="header-cell table-header">Date</div>
        <div class="header-cell table-header">Details</div>
    </div>

    @{
        foreach (var asteroid in this.Model)
        {
            <div class="row">
                <div class="cell custom-text-color">@asteroid.Copyright</div>
                <div class="cell custom-text-color">@asteroid.Title</div>
                <div class="cell custom-text-color">@asteroid.DateTime</div>
                <div class="cell custom-text-color">@asteroid.Explanation</div>
            </div>
        }
    }
</div>

@{
    string prevButtonState = this.Model.HasPrevPage ? "" : "disabled";
    string nextButtonState = this.Model.HasNextPage ? "" : "disabled";

}

<a asp-controller="Asteroid" asp-action="Index" asp-route-PageNumber="@this.Model.PageNumber-1" class="btn btn-link @prevButtonState">Prev</a>
@{
    for (int i = 1; i <= this.Model.TotalPages; i++)
    {
        <span><a asp-controller="Asteroid" asp-action="Index" asp-route-PageNumber="@i">@i</a></span>
    }
}
<a asp-controller="Asteroid" asp-action="Index" asp-route-PageNumber="@this.Model.PageNumber+1" class="btn btn-link @nextButtonState">Next</a>

