@using AE_NASA_APOD.ViewModels;
@using DataAccessModels.Models;
@model APODViewModel;

<h2 style="color: white;">Astronomy Picture Of The Day</h2>

<form asp-controller="APOD" asp-action="Index" method="get">
    <div class="form-group">
        <label for="date" style="color: antiquewhite;">Select a date:</label>
        <br />
        
        <input type="date" id="date" name="date" class="form-control-sm" value="@Model.Date.ToString("yyyy-MM-dd")" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary" style="color: antiquewhite;">Get APOD for Date</button>
</form>
<br />


@if (Model.Date != null)
{
    <div>
        <strong style="color: antiquewhite;">Title:</strong> <a href="@Model.Url" style="color: yellowgreen;">@Model.Title</a>
    </div>
    <div>
        <strong style="color: antiquewhite;">Date:</strong> <span style="color: yellowgreen;">@Model.Date.ToString("dddd, dd MMMM yyyy")</span>
    </div>
    <div>
        <strong style="color: antiquewhite;">URL:</strong> <a href="@Model.Url" style="color: cadetblue;">@Model.Url</a>
    </div>
    <div>
        <p style="color: navajowhite;">@Model.Explanation</p>
    </div>
    <div>
        @if (Model.Media_Type == "image")
        {
           
            <strong style="color: antiquewhite;">Image:</strong>
            <img src="@Model.Url" alt="@Model.Title" />
        }
        else if (Model.Media_Type == "video")
        {
           
            <strong style="color: antiquewhite;">Video:</strong>
            
            <video width="400" controls>
                <source src="@Model.Url" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        }
    </div>
    <br />
}

<a asp-controller="Home" asp-action="Index" class="btn btn-primary" style="color: antiquewhite;">Back to Home</a>
