@using AE_NASA_APOD.ViewModels;
@using DataAccessModels.Models;
@model APODViewModel;

<h2 style="color: white;">Astronomy Picture Of The Day</h2>

<!-- Filter Form -->
<form asp-controller="Home" asp-action="NASAAPOD" method="get">
    <div class="form-group">
        <label for="date" style="color: antiquewhite;">Select a date:</label>
        <br />
        <!-- Use HTML5 date input -->
        <input type="date" id="date" name="date" class="form-control" value="@Model.Date.ToString("yyyy-MM-dd")" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary" style="color: antiquewhite;">Get APOD for Date</button>
</form>
<br />

<!-- Display APOD Information -->
@if (Model.Date != null)
{
    <div>
        <strong style="color: antiquewhite;">Title:</strong> <a href="@Model.Url" style="color: yellowgreen;">@Model.Title</a>
    </div>
    <div>
        <strong style="color: antiquewhite;">Date:</strong> <span style="color: yellowgreen;">@Model.Date.ToString("dddd, dd MMMM yyyy")</span>
    </div>
    <div>
        <strong style="color: antiquewhite;">URL:</strong> <a href="@Model.Url" style="color: cadetblue;">@Model.Url</a>
    </div>
    <div>
        <p style="color: navajowhite;">@Model.Explanation</p>
    </div>
    <div>
        <strong style="color: antiquewhite;">HD URL:</strong> <a href="@Model.HdUrl" style="color: cadetblue;">@Model.HdUrl</a>
    </div>
    <div>
        <strong style="color: antiquewhite;">Media Type:</strong> <a href="@Model.Media_Type" style="color: yellowgreen;">@Model.Media_Type</a>
    </div>
    <div>
        <strong style="color: antiquewhite;">Copyright:</strong> <a href="@Model.Copyright" style="color: yellowgreen;">@Model.Copyright</a>
    </div>
    <div>
        <strong style="color: antiquewhite;">Image:</strong>
        <img src="@Model.Url" alt="@Model.Title" />
    </div>
    <br />
}

<a asp-controller="Home" asp-action="Index" class="btn btn-primary" style="color: antiquewhite;">Back to Home</a>
